/* RESET */
*,
::after,
::before {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html {
	-webkit-text-size-adjust: 100%
}
body {
	min-height: 100vh;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}
canvas,
img,
picture,
svg,
video {
	display: block;
	max-width: 100%
}
button,
input,
select,
textarea {
	font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	overflow-wrap: break-word;
}
ol[class],
ul[class] {
	list-style: none;
	padding: 0
}
@media (prefers-reduced-motion:reduce) {
	*,
	::after,
	::before {
		animation-duration: 0s !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0s !important;
		scroll-behavior: auto !important
	}
}